.account-layout {
    background: linear-gradient(135deg, #a8edea 0%, #79f1a4 100%);
    background-image: url('../images/Building image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2rem 0;
}

.account-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.account-box {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    width: 100%;
    opacity: .95;
}
 